<!--
  A div com classe "screen", vai servir pra organizar os elementos da tela. Nessa página, todos os elementos estão dentro dela. Baseado no design feito por Karol, dividi a página em duas partes principais: a que guarda a imagem e a que interage com o usuário.
-->
<div class="screen">
  <!--
    a "div-left" é o bloco que guarda a imagem (pode ser adicionado outras coisas depois)
  -->
  <div class="div-left">
    <img class="div-left-img" src="assets/Mental.svg" alt="">
    <!-- <img src="Marcas UFRPE-04 (Médio) (Pequeno).png" alt="Imagem" width="500" height="300" alt="Imagem"> -->
    <!-- <h1>IMAGEM</h1> -->
  </div>

  <!--
    a "div-right" guarda todos os elementos que interagem com o usuário
  -->
  <div class="div-right">
    <h1>Formulário de atendimento psicológico da UABJ - Discente</h1>

    <diV class="p1 div-right-content" id="tela1">

      <!-- "page1" é a página que dá a introdução ao projeto-->
      <div id="p1 page1">

        <p>Este serviço é oferecido exclusivamente a estudantes da UABJ/UFRPE. É gratuito e exclusivo para maiores de 18 anos. O agendamento é feito por ordem de inscrição, conforme horários disponíveis.</p>
        <p>Informações e regras do serviço:</p>

        <p>* O atendimento psicológico não se trata de psicoterapia. São atendimentos breves e focais que visam atender a demanda apresentada. Havendo necessidade de um acompanhamento de longo prazo, a/o discente será encaminhada(o) para o serviço de saúde do município;</p>

        <p>* Visando atender a demanda e/ou fila de espera, serão disponibilizados no máximo 4 atendimentos sequenciados para cada estudante. Findando os atendimentos, o horário ficará disponível para a/o discente em fila de espera;</p>

      </div>

      <button class="p1 proximo-btn" id="p1 proximo-btn" onclick="paraEntrar()" >PRÓXIMO</button>
    </diV>
    <!--
      Esse bloco aqui é da tela de login, ela entra quando o usuário clica no botão "PRÓXIMO" na tela anterior
    -->
    <div class="p2 login div-right" id="tela2">
      <!-- Coloquei tudo dentro dessa div "p2" pra ficar melhor de organizar e pra quando mudar a tela, só mudar o que está dentro dessa div -->

      <h1>ENTRAR</h1>

      <div class="login input-box">

        <!-- Esse "organizador" foi criado pra ficar mais fácil de manipular as caixinhas de input e os labels, já que a configuração de flex-box deles são diferentes dos outros elementos -->
        <div class="organizador">

          <label for="email">Email:</label>
          <input name="email" type="email" class="login entrar-input" placeholder="example@example.com">

        </div>

        <div class="organizador">

          <label for="senha">Senha:</label>
          <input name="senha" type="password" class="login senha-input" placeholder="**********">

        </div>

      </div>

      <!-- esse "btn-box" eu criei pra organizar os botões responsáveis por mudar a tela pra tela d cadastro ou para logar na conta -->
      <div class="btn-box">

        <button class="cadastrar-btn" id="cadastrar-btn" onclick="paraCadastro()">CADASTRAR</button>
        <button class="entrar-btn" id="entrar-btn" onclick="entrar()">ENTRAR</button>

      </div>

    </div>

    <div class="p3 signup div-right" id="tela3">

      <h1>CADASTRO</h1>

      <div class="login input-box">

        <!-- Esse "organizador" foi criado pra ficar mais fácil de manipular as caixinhas de input e os labels, já que a configuração de flex-box deles são diferentes dos outros elementos -->
        <div class="organizador">
          <label for="email">Email:</label>
          <input name="email" type="email" class="login entrar-input" placeholder="example@example.com">
        </div>

        <div class="organizador">
          <label for="email">Confirmar Email:</label>
          <input name="email" type="email" class="login entrar-input" placeholder="example@example.com">
        </div>

        <div class="organizador">
          <label for="senha">Senha:</label>
          <input name="senha" type="password" class="login senha-input" placeholder="**********">
        </div>
        <div class="organizador">
          <label for="senha">Confirmar Senha:</label>
          <input name="senha" type="password" class="login senha-input" placeholder="**********">
        </div>

      </div>

      <!-- esse "btn-box" eu criei pra organizar os botões responsáveis por mudar a tela pra tela d cadastro ou para logar na conta -->
      <div class="btn-box">

        <button class="cadastro-voltar-btn" id="cadastro-voltar-btn" onclick="voltarParaLogin()">VOLTAR</button>
        <button class="cadastro-concluir-btn" id="cadastro-continuar-btn" onclick="concluirCadastro()">CONCLUIR</button>

      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
